html,
body {
  padding: 0;
  margin: 0;
  overflow: hidden;
}

svg {
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  touch-action: none;
}

line {
  stroke-width: 0.001;
  stroke: deeppink;
}
